In [3]:
#importing necessary libraries

import pandas as pd
import numpy as np
import plotly.plotly as py
import cufflinks as cf

In [4]:
#Importing CG Data till Sem 1 2016-2017
df=pd.read_excel('/home/arrayslayer/Ipython/Cg project/cgfull.xls')
df.head()
a=df
campusid=a['Campus ID']
a['Campus year']=campusid  #adding a new column that will show Year of student
a['Roll']=campusid # adding a new column that will be showing roll number(3 digit)

In [5]:
a['Campus ID']=a['Campus ID'].map(lambda x : x[4:]) #removes year
a['Campus ID']=a['Campus ID'].map(lambda x : x[:-1]) #removes G
a['Campus ID']=a['Campus ID'].map(lambda x : x[:-5]) #leaves only Branch ID 
a.head()

,Campus ID,Name,Round up,Campus year,Roll
0,B3,AKSHAY A SINGH,5.57,2009B3PS509G,2009B3PS509G
1,C6,SRIKAR KASTURI,4.20,2010C6PS051G,2010C6PS051G
2,A4,PILLARISETTI VENKATA RAVI KIRA,5.04,2011A4PS232G,2011A4PS232G
3,B2,BHAKTAVATSALA P PANDE,4.13,2011B2A1562G,2011B2A1562G
4,B2,SHIVESH ANAND,7.93,2011B2A3637G,2011B2A3637G

In [6]:
a['Campus year']=a['Campus year'].map(lambda x : x[:4]) #Stores year in campus year
a.head()

,Campus ID,Name,Round up,Campus year,Roll
0,B3,AKSHAY A SINGH,5.57,2009,2009B3PS509G
1,C6,SRIKAR KASTURI,4.20,2010,2010C6PS051G
2,A4,PILLARISETTI VENKATA RAVI KIRA,5.04,2011,2011A4PS232G
3,B2,BHAKTAVATSALA P PANDE,4.13,2011,2011B2A1562G
4,B2,SHIVESH ANAND,7.93,2011,2011B2A3637G

In [7]:
a['Roll']=a['Roll'].map(lambda x : x[-4:])  #stores roll number + G
a['Roll']=a['Roll'].map(lambda x : x[:-1])  #removes G
a.head()

  Campus ID                            Name  Round up Campus year Roll
0        B3                  AKSHAY A SINGH      5.57        2009  509
1        C6                  SRIKAR KASTURI      4.20        2010  051
2        A4  PILLARISETTI VENKATA RAVI KIRA      5.04        2011  232
3        B2           BHAKTAVATSALA P PANDE      4.13        2011  562
4        B2                   SHIVESH ANAND      7.93        2011  637

In [8]:
cs=a.where(a['Campus ID']=='A7').dropna() #selecting out only CS students based on branch code A7
cs.reset_index(inplace=True)
cs.drop('index',axis=1,inplace=True)
cs.head()

  Campus ID                   Name  Round up Campus year Roll
0        A7  DESAI ABHISHEK DEEPAK      6.43        2012  065
1        A7            RAHUL BHOLA      4.05        2012  031
2        A7            SANKA ANISH      4.55        2012  040
3        A7           PIYUSH GUPTA      6.76        2012  094
4        A7  KHOLKAR GAURI PRADEEP      8.18        2013  002

In [11]:
twentythirteen=cs.where(cs['Campus year']=='2013').dropna()
twentyfourteen=cs.where(cs['Campus year']=='2014').dropna()
twentyfifteen=cs.where(cs['Campus year']=='2015').dropna()
twentysixteen=cs.where(cs['Campus year']=='2016').dropna()

#getting different series objects representing each year

In [15]:
fig = {
    'data': [ #using cufflinks + plotly to plot 4 scatter plots 
        #corresponding to each year and simultaneously plotting them
        {'y': twentythirteen['Round up'],'x':twentythirteen['Roll'], 'text': twentythirteen['Name'], 'mode': 'markers', 'name': '2013'},
        {'y': twentyfourteen['Round up'],'x':twentyfourteen['Roll'],'text': twentyfourteen['Name'], 'mode': 'markers', 'name':'2014'},
        {'y': twentyfifteen['Round up'], 'x':twentyfifteen['Roll'],'text': twentyfifteen['Name'], 'mode': 'markers', 'name':'2015'},
        {'y': twentysixteen['Round up'],'x':twentysixteen['Roll'],'text': twentysixteen['Name'], 'mode': 'markers', 'name':'2016'}
    ],
    'layout': {
        'xaxis': {'title': 'CS Students Roll','range':[0,140]}, #plots only for roll numbers
        #between 0-140 to avoid too much clustering.
        'yaxis': {'title': "CGPA"}
    }
}
py.iplot(fig, filename='/cgcsuptil120')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~arrayslayer/0 or inside your plot.ly account where it is named '/cgcsuptil120'

In [16]:
fig = {
    'data': [
        {'y': twentythirteen['Round up'],'x':twentythirteen['Roll'], 'text': twentythirteen['Name'], 'mode': 'markers', 'name': '2013'},
        {'y': twentyfourteen['Round up'],'x':twentyfourteen['Roll'],'text': twentyfourteen['Name'], 'mode': 'markers', 'name':'2014'},
        {'y': twentyfifteen['Round up'], 'x':twentyfifteen['Roll'],'text': twentyfifteen['Name'], 'mode': 'markers', 'name':'2015'},
        {'y': twentysixteen['Round up'],'x':twentysixteen['Roll'],'text': twentysixteen['Name'], 'mode': 'markers', 'name':'2016'}
    ],
    'layout': {
        'xaxis': {'title': 'CS Students Roll','range':[0,1000]}, #plots all CS roll numbers
        'yaxis': {'title': "CGPA"}
    }
}
py.iplot(fig, filename='/cgcsall')